
  <table summary="User form">
    <tr>
      <td><%= f.text_field(:username, {class: "input", placeholder: "User name"}) %></td>
    </tr>
    <tr>
      <td><%= f.password_field(:password, { class: "input", placeholder: "Password"}) %></td>
    </tr>
    <tr>
      <td><%= f.text_field(:email, {class: "input", placeholder: "Email"}) %></td>
    </tr>
  </table>
