<div class="container">
  <%= form_tag({:action => "attempt_login"}, :class => "form-signin")  do %>
  
      <%= text_field_tag "username", nil,  {:class => "input-block-level", :placeholder => "Username"} %>
      
      <%= password_field_tag "password", nil, {:class => "input-block-level", :placeholder => "Password"} %>
    
      <%= submit_tag "Log in", class: "btn btn-large btn-primary btn-block" %>
  <% end %>
</div>
