<div>
  <p>Product: <%= @product.name%> </p>
  <p>Current Price: <%= number_to_currency @product.current_price%></p>
  <p>Lowest Price: <%= number_to_currency @product.lowest_price%></p>
</div>

<p><%= link_to "Back to your products", current_user %></p>