<div>
  <p>Product: <%= link_to(@product.name , "http://www.amazon.com/dp/#{@product.asin}", :target => "_blank")%> </p>
  <p>Current Price: <%= number_to_currency @product.current_price%></p>
  <p>Lowest Price: <%= number_to_currency @product.lowest_price%></p>
</div>

<svg></svg>

<p><%= link_to "Back to your products", current_user %></p>